<form [formGroup]="cadastroForm">
    <mat-form-field class="inputField" appearance="outline">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" placeholder="Digite o nome do cargo" matInput type="text" />
    </mat-form-field>
    @if (cadastroForm.get('nome')?.errors?.['minLength'] && cadastroForm.get('nome')?.touched) {
        <mat-error class="erro">O nome deve ter mais de 3 caracteres</mat-error>
    } 
    @else if (cadastroForm.get('nome')?.errors?.['pattern'] && cadastroForm.get('nome')?.touched) {
        <mat-error class="erro">O nome não pode conter caracteres especiais</mat-error>
    } 
    @else if (cadastroForm.get('nome')?.errors?.['campoVazio'] && cadastroForm.get('nome')?.touched) {
        <mat-error class="erro">Este campo não pode ser vazio.</mat-error>
    }
    @else if (cadastroForm.get('nome')?.errors && cadastroForm.get('nome')?.touched) {
        <mat-error class="erro">Insira um nome válido.</mat-error>
    }
    
    <mat-form-field class="inputField" appearance="outline">
        <mat-label>Setor</mat-label>
        <mat-select formControlName="setorId">
            @for (setor of setores; track $index) {
            <mat-option [value]="setor.id">{{setor.nome}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    @if (cadastroForm.get('setorId')?.invalid && cadastroForm.get('setorId')?.touched) {
        <mat-error class="erro">Setor inválido</mat-error>
    }
</form>