
<header>
    <div class="conteudo">
        <h1>PontoFácil</h1>
        <nav class="opcoes">
            <a class="item">
                <mat-icon>analytics</mat-icon>
                Dashboard
            </a>
            <a class="item">
                <mat-icon>groups</mat-icon>
                Colaboradores
            </a>
            <button mat-stroked-button (click)="logout()">
                <mat-icon>logout</mat-icon>
                Sair
            </button>
        </nav>
    </div>
</header>