
<header>
    <div class="conteudo">
        <h1>PontoFácil</h1>
        <nav class="opcoes">
            <a class="item" routerLink="dashboard">
                <mat-icon>analytics</mat-icon>
                Dashboard
            </a>
            <a class="item" routerLink="gerencia">
                <mat-icon>groups</mat-icon>
                Colaboradores
            </a>
            <a class="item" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>account_circle</mat-icon>
                {{this.usuarioNome}}
            </a>
            <mat-menu #menu="matMenu">
                <button routerLink="perfil" mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>Ver perfil</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    Sair
                </button>
            </mat-menu>
        </nav>
    </div>
</header>