
<header>
    <div class="conteudo">
        <div class="logo">
            <img src="./logo.png" alt="logo">
            <h1>PontoFácil</h1>
        </div>
        <nav class="menu__desktop">
            <a class="item" routerLink="dashboard">
                <mat-icon>analytics</mat-icon>
                Dashboard
            </a>
            <a class="item" routerLink="gerencia/colaboradores">
                <mat-icon>groups</mat-icon>
                Colaboradores
            </a>
            <a class="item" (click)="navegar('gerencia/cargos')">
                <mat-icon>work</mat-icon>
                Cargos
            </a>
            <a class="item" (click)="navegar('gerencia/setores')">
                <mat-icon>apartment</mat-icon>
                Setores
            </a>
            <a class="item" [matMenuTriggerFor]="menu" aria-label="Icone de uma pessoa">
                <mat-icon>account_circle</mat-icon>
                {{this.usuarioNome}}
            </a>
            <mat-menu #menu="matMenu">
                <button routerLink="perfil" mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>Ver perfil</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    Sair
                </button>
            </mat-menu>
        </nav>
        <button mat-icon-button class="botao__menu__mobile" (click)="abrirMenu()">
            <mat-icon class="menu__icone">menu</mat-icon>
        </button>
        @if (isMenuOpen()) {
            <nav class="menu__mobile">
                <div class="menu__opcoes">
                    <button class="item fechar" (click)="abrirMenu()">
                        <mat-icon>close</mat-icon>
                        Fechar
                    </button>
                    <a class="item" (click)="navegar('dashboard')">
                        <mat-icon>analytics</mat-icon>
                        Dashboard
                    </a>
                    <a class="item" (click)="navegar('gerencia/colaboradores')">
                        <mat-icon>groups</mat-icon>
                        Colaboradores
                    </a>
                    <a class="item" (click)="navegar('gerencia/cargos')">
                        <mat-icon>work</mat-icon>
                        Cargos
                    </a>
                    <a class="item" (click)="navegar('gerencia/setores')">
                        <mat-icon>apartment</mat-icon>
                        Setores
                    </a>
                </div>
    
                <div class="dados__conta">
                    <a class="item" (click)="navegar('perfil')">
                        <mat-icon>account_circle</mat-icon>
                        {{this.usuarioNome}}
                    </a>
                    <a class="item" (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        Sair
                    </a>
                </div>
            </nav>
        }
    </div>
</header>