backend/publish/appsettings.Development.json
backend/publish/appsettings.json
backend/publish/Azure.Core.dll
backend/publish/Azure.Identity.dll
backend/publish/Microsoft.AspNetCore.Authentication.JwtBearer.dll
backend/publish/Microsoft.AspNetCore.Cryptography.Internal.dll
backend/publish/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
backend/publish/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
backend/publish/Microsoft.AspNetCore.OpenApi.dll
backend/publish/Microsoft.Bcl.AsyncInterfaces.dll
backend/publish/Microsoft.Data.SqlClient.dll
backend/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
backend/publish/Microsoft.EntityFrameworkCore.dll
backend/publish/Microsoft.EntityFrameworkCore.Relational.dll
backend/publish/Microsoft.EntityFrameworkCore.SqlServer.dll
backend/publish/Microsoft.Extensions.Caching.Abstractions.dll
backend/publish/Microsoft.Extensions.Caching.Memory.dll
backend/publish/Microsoft.Extensions.Configuration.Abstractions.dll
backend/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
backend/publish/Microsoft.Extensions.DependencyInjection.dll
backend/publish/Microsoft.Extensions.Identity.Core.dll
backend/publish/Microsoft.Extensions.Identity.Stores.dll
backend/publish/Microsoft.Extensions.Logging.Abstractions.dll
backend/publish/Microsoft.Extensions.Logging.dll
backend/publish/Microsoft.Extensions.Options.dll
backend/publish/Microsoft.Extensions.Primitives.dll
backend/publish/Microsoft.Identity.Client.dll
backend/publish/Microsoft.Identity.Client.Extensions.Msal.dll
backend/publish/Microsoft.IdentityModel.Abstractions.dll
backend/publish/Microsoft.IdentityModel.JsonWebTokens.dll
backend/publish/Microsoft.IdentityModel.Logging.dll
backend/publish/Microsoft.IdentityModel.Protocols.dll
backend/publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
backend/publish/Microsoft.IdentityModel.Tokens.dll
backend/publish/Microsoft.OpenApi.dll
backend/publish/Microsoft.SqlServer.Server.dll
backend/publish/Microsoft.Win32.SystemEvents.dll
backend/publish/pontoFacilApi.deps.json
backend/publish/pontoFacilApi.dll
backend/publish/pontoFacilApi.exe
backend/publish/pontoFacilApi.pdb
backend/publish/pontoFacilApi.runtimeconfig.json
backend/publish/pontoFacilApi.staticwebassets.endpoints.json
backend/publish/Swashbuckle.AspNetCore.Swagger.dll
backend/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
backend/publish/System.ClientModel.dll
backend/publish/System.Configuration.ConfigurationManager.dll
backend/publish/System.Diagnostics.DiagnosticSource.dll
backend/publish/System.Drawing.Common.dll
backend/publish/System.Formats.Asn1.dll
backend/publish/System.IdentityModel.Tokens.Jwt.dll
backend/publish/System.IO.Pipelines.dll
backend/publish/System.Memory.Data.dll
backend/publish/System.Runtime.Caching.dll
backend/publish/System.Security.Cryptography.ProtectedData.dll
backend/publish/System.Security.Permissions.dll
backend/publish/System.Text.Encodings.Web.dll
backend/publish/System.Text.Json.dll
backend/publish/System.Windows.Extensions.dll
backend/publish/web.config
backend/publish/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
backend/publish/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
backend/publish/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
backend/publish/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
backend/publish/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
backend/publish/runtimes/win/lib/net6.0/System.Drawing.Common.dll
backend/publish/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
backend/publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
backend/publish/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
backend/publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
backend/publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
backend/publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
backend/publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
backend/Properties/PublishProfiles/pontofacil-api - Zip Deploy.pubxml
backend/Properties/PublishProfiles/pontofacil-api - Zip Deploy.pubxml.user
backend/Properties/ServiceDependencies/pontofacil-api - Zip Deploy/profile.arm.json
