@use '../../../core/variables.scss';
@use '@angular/material' as mat;

.wrapper{
    header{
        h2{
            margin-bottom: 1rem;
            color: variables.$primary;
            font-size: 1.5rem;
            width: fit-content;
            font-weight: 600;
        }

        p{
            font-size: 1rem;
            line-height: 1rem;
            color: gray;
        }
    }
}
