<div class="card">
    <div class="header">
        <div class="titulo">
            <div class="icone">{{pegarIniciais()}}</div>
            <h1>{{colaborador().nome}}</h1>
        </div>
        <button matIconButton [matMenuTriggerFor]="menu" aria-label="Opcoes">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="menu" #menu="matMenu">
        <button mat-menu-item (click)="openEditDialog()">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
        </button>
        <button mat-menu-item (click)="excluir(colaborador().id)">
            <mat-icon>delete</mat-icon>
            <span>Excluir</span>
        </button>
        </mat-menu>
    </div>
    <div class="infos">
        <div class="item">
            <mat-icon>badge</mat-icon>
            <p><strong>CPF</strong> {{colaborador().cpf | cpf}}</p>
        </div>
        <div class="item">
            <mat-icon>work</mat-icon>
            
            <p><strong>Cargo</strong> {{colaborador().cargo}}</p>
        </div>
        <div class="item">
            <mat-icon>apartment</mat-icon>
            <p><strong>Setor</strong> {{colaborador().setor}}</p>
        </div>
    </div>
</div>
