<section class="container">
    <header>
        <div class="titulo">
            <h1>Colaboradores</h1>
            <p>Aqui voce pode gerenciar sua equipe</p>
        </div>
        <button mat-flat-button (click)="openCreateDialog()">
            <mat-icon>add</mat-icon>
            Adicionar Colaborador
        </button>
    </header>

    <div class="search">
        <mat-form-field appearance="outline" class="field">
            <mat-icon matIconPrefix>search</mat-icon>
            <mat-label>Busque pelo nome</mat-label>
            <input [(ngModel)]="pesquisar" (ngModelChange)="buscarPeloNome()" matInput type="text"/>
        </mat-form-field>
    </div>

    
        @if (isLoading()) {
            <app-loading color="verde"></app-loading>
        } @else{
            <section class="gallery">
            @for (colaborador of colaboradoresFiltrados; track $index) {
                <app-card-colaborador [colaborador]="colaborador" (acaoExecutada)="buscarColaboradores()"></app-card-colaborador>
            } 
            @empty {
                <p>Nenhum colaborador encontrado.</p>
            }
            </section>
        }

    <mat-paginator 
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageNumber"
        aria-label="Selecionar pagina">
    </mat-paginator>
</section>
