<section class="container">
    <header>
        <div class="titulo">
            <h1>Colaboradores</h1>
            <p>Aqui voce pode gerenciar sua equipe</p>
        </div>
        <button mat-flat-button (click)="openCreateDialog()">
            <mat-icon>add</mat-icon>
            Adicionar Colaborador
        </button>
    </header>

    <div class="search">
        <mat-form-field appearance="outline" class="field">
            <mat-icon matIconPrefix>search</mat-icon>
            <mat-label>Busque pelo nome</mat-label>
            <input [(ngModel)]="pesquisar" (ngModelChange)="buscarPeloNome()" matInput type="text"/>
        </mat-form-field>
    </div>

    <app-tabela [itens]="cargosFiltrados" [paginacao]="paginacao" (editar)="openEditDialog($event)" (excluir)="excluir($event)" (mudancaPagina)="mudarPagina($event)"></app-tabela>
</section>
