<app-form-banner-layout [bannerPosition]="'left'">
    <div class="login">
        <h1>Bem-vindo de volta</h1>
        <p>Entre com suas credenciais para acessar o sistema</p>

        <form [formGroup]="loginForm" (ngSubmit)="enviar()">
            
            <mat-form-field class="inputField" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" placeholder="Digite seu email" matInput type="email" />
            </mat-form-field>
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                <mat-error class="erro">Email inválido</mat-error>
            }

            <mat-form-field class="inputField" appearance="outline">
                <mat-label>Senha</mat-label>
                <input formControlName="senha" placeholder="Digite sua senha" matInput [type]="mostrarSenha() ? 'password' : 'text'" />
                <button
                matIconButton
                matSuffix
                type="button"
                (click)="esconder()"
                [attr.aria-label]="'Esconder senha'"
                [attr.aria-pressed]="mostrarSenha()"
                >
                <mat-icon>{{mostrarSenha() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            @if (loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched) {
                <mat-error class="erro">Senha inválida</mat-error>
            }

            <button class="enviar" [disabled]="loginForm.invalid" mat-flat-button type="submit">
                @if (isLoading()) {
                    <app-loading color="branco"></app-loading>
                } @else {
                    Entrar
                }
            </button>
        </form>
        <p class="cadastro">Não tem uma conta? <a routerLink="/cadastro">Cadastre-se gratuitamente</a></p>
    </div>

</app-form-banner-layout>

