@use '@angular/material' as mat;
@use '../../../../core/variables.scss';

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .verde{
        @include mat.progress-spinner-overrides((
            active-indicator-color: variables.$primary,
        ));
    }

    .branco{
        @include mat.progress-spinner-overrides((
            active-indicator-color: white,
        ));
    }
}