<div class="card">
    <div class="header">
        <div class="titulo">
            <div class="icone">{{pegarIniciais()}}</div>
            <h1>{{colaborador().nome}}</h1>
        </div>
        <button matIconButton [matMenuTriggerFor]="menu" aria-label="Opcoes">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="menu" #menu="matMenu">
        <button mat-menu-item (click)="openEditDialog()">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
        </button>
        <button mat-menu-item (click)="excluir(colaborador().id)">
            <mat-icon>delete</mat-icon>
            <span>Excluir</span>
        </button>
        </mat-menu>
    </div>
    <div class="infos">
        <p>
            <mat-icon>badge</mat-icon>
            {{colaborador().cpf}}
        </p>
        <p>
            <mat-icon>work</mat-icon>
            {{colaborador().cargo}}
        </p>
        <p>
            <mat-icon>apartment</mat-icon>
            {{colaborador().setor}}
        </p>
    </div>
    
    <button mat-stroked-button>
        <mat-icon>visibility</mat-icon>
        Ver detalhes</button>
</div>
